body {
    background-size: 100%;
    background-repeat: no-repeat;
    position:center; 
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    background: url("..assets/pexels-photo-593158.jpeg");
    /* font-color: ; */
}
.logo-wrapper {
    background-color: lightblue;
    height: 60px;
    width: 237px;
    display: inline-block;
}

header {
    height: 60px;
    overflow: auto;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.image-container img {
    float: left;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid lightblue;
}

.image-container h4 {
    position: relative;
}

p {
    padding: 5px;
}

.container {
    width: auto;
    margin: 0 auto;
    margin-bottom: 0px;
}

.main-container {
    height: auto; 
    max-width: 960px;
}

main {
    background-color:#ffffff;
    max-width: 960px;
    margin: auto;
    padding: 5px;
}
nav {
    float: right;
    padding: 10px;
    font-size: 15px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
h1 {
    color: darkslategrey;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 34px;
    border-bottom: 5px solid lightblue;
}
.logo {
    margin: 10px;
    text-align: left;
    padding: 10px;
    color: #ffffff;
    top: 15px;
    position: relative;

}

h2 {
    font-size: 24px;
}
a {
    color: #777777;
}

.contianer {
    width: 1024px;
    margin: 0 auto;
    padding: 0 auto;
}
footer {
    text-align: center;
    border-top: 8px solid lightblue;
    background-color: #666666;
    color: #eeeeef;

}

.work {
    position: relative;
    float: left;
    width: 274px;
    height: 207px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h6 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: lightblue;
    border-bottom: 0;
  }